<section class="tasks">
    <header class="tasks-header">
        <h1 class="tasks-title">Tasks</h1>
        <div class="tasks-filters">
            @for (filter of filters; track filter) {
            <app-task-filter [label]="filter" [isActive]="isFilterActive(filter)"
                (filterChange)="onFilterChange(filter)"></app-task-filter>
            }

            <input type="text" class="tasks-input" placeholder="Search tasks" (input)="onSearchChange($event)"
                [value]="searchFilter()" />
        </div>
    </header>

    @let myTasks = filteredTasks();

    @if (myTasks.length > 0) {
    <ul class="tasks-list">
        @for (task of myTasks; track task.id) {
        <li class="tasks-task"><input [id]="task.id" type="checkbox" [checked]="task.completed"
                (change)="onTaskCompletedChange(task.id)" />
            <label [for]="task.id">{{task.description}}</label>
        </li>
        }
    </ul>
    } @else {
    <p class="tasks-empty">No tasks found</p>
    }

    <span>{{remainingTasks()}} remaining</span>

    <form class="tasks-form" (submit)="onAddTask($event)">
        <input autofocus aria-label="New task description" aria-required="true" type="text" class="tasks-input"
            placeholder="Add a new task" (input)="onNewTaskDescriptionChange($event)" [value]="newTask().description"
            (keyup.enter)="onNewTaskDescriptionChange($event)" tabindex="0" />

        <button class="tasks-add-button" [disabled]="newTask().description.length === 0" type="submit" tabindex="1">Add
            Task</button>
    </form>
</section>