<section class="tasks">
    <h1 class="tasks-title">Today</h1>

    @let myTasks = tasks();

    @if (myTasks.length > 0) {
    <ul class="tasks-list">
        @for (task of myTasks; track task.id) {
        <li class="tasks-task"><input [id]="task.id" type="checkbox" [checked]="task.completed"
                (change)="onTaskCompletedChange(task.id)" />
            <label [for]="task.id">{{task.description}}</label>
        </li>
        }
    </ul>
    } @else {
    <p class="tasks-empty">No tasks found</p>
    }

    <form class="tasks-form" (submit)="addTask($event)">
        <input autofocus aria-label="New task description" aria-required="true" type="text" class="tasks-input"
            placeholder="Add a new task" (input)="onNewTaskDescriptionChange($event)" [value]="newTask().description"
            (keyup.enter)="onNewTaskDescriptionChange($event)" tabindex="0" />

        <button class="tasks-add-button" [disabled]="newTask().description.length === 0" type="submit" tabindex="1">Add
            Task</button>
    </form>
</section>