.tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 24px;
    gap: 24px;
    background-color: #f0f0f0;
}

.tasks-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.tasks-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.tasks-title {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
}

.tasks-add-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    flex: 0 1 50%;
    padding: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.tasks-add-button:hover {
    background-color: #0056b3;
}

.tasks-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

.tasks-list {
    text-decoration: none;
    list-style: none;
    padding: 24px 0;
    margin: 0;
}

.tasks-task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.tasks-input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    flex: 0 1 100%;
}

.tasks-input:focus {
    outline: none;
}